* {
    -fx-txtFillLight: #f5f5f5;
    -fx-txtFillDark: #202020;
    -fx-txtRedBlack: #592D2D;
    -fx-bgBase: #f5f5f5;
    -fx-panelBase: #D13F3F;
    -fx-panelHighlight: #FFBFBF;
    -fx-functionBase: #F5B91D;
    -fx-funcBG: #FAF8EC;
    -fx-healthBase: #5DD677;
    -fx-healthBG: #EDFAEC;
}

.background {
    -fx-background-color: -fx-bgBase;
}

.transparentBG {
    -fx-background-color: transparent;
}

.panel30Deg {
    -fx-background-color: -fx-panelBase;
    -fx-background-radius: 30;
    -fx-padding: 10;
    -fx-border-radius: 30;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 10, 0, 0, 0);
}

.text-fieldBase {
   -fx-background-color: transparent;
    -fx-border-color: -fx-txtFillLight;
    -fx-border-width: 0 0 2 0;
    -fx-border-radius: 0;
    -fx-text-fill: -fx-txtFillLight;
    -fx-font-size: 14;
    -fx-font-family: "Roboto";
    -fx-prompt-text-fill: derive(-fx-txtFillLight, -10%);
}


.text-fieldBase:hover {
    -fx-background-color: transparent;
    -fx-border-color: -fx-panelHighlight;
    -fx-border-width: 0 0 2 0;
    -fx-border-radius: 0;
    -fx-prompt-text-fill: derive(-fx-txtFillLight, -10%);
}

.panelBtn {
    -fx-background-color: -fx-panelHighlight;
    -fx-background-radius: 30;
    -fx-padding: 10;
    -fx-border-radius: 30;
    -fx-text-fill: -fx-panelBase;
    -fx-font-weight: bold;
    -fx-font-size: 14;
}

.panelBtn:hover {
    -fx-background-color: derive(-fx-panelHighlight, 40%);
    -fx-background-radius: 30;
    -fx-padding: 10;
    -fx-border-radius: 30;
    -fx-text-fill: -fx-panelBase;
    -fx-font-weight: bold;
    -fx-font-size: 14;
}


.panelBtn:pressed {
    -fx-background-color: -fx-txtFillLight;
    -fx-background-radius: 30;
    -fx-padding: 10;
    -fx-border-radius: 30;
    -fx-text-fill: -fx-panelBase;
    -fx-font-weight: bold;
    -fx-font-size: 14;
}


.panelLbl {
    -fx-text-fill: -fx-txtFillLight;
    -fx-font-size: 14;
}


.sideMenu {
    -fx-background-color: -fx-panelBase;
}

.sideMenuToggleBtn {
    -fx-background-color: transparent;
    -fx-text-fill: -fx-txtFillLight;
    -fx-font-weight: normal;
    -fx-font-size: 14;
    -fx-font-family: "Roboto";
}

.sideMenuToggleBtn:hover {
    -fx-font-weight: bold;
}

.sideMenuToggleBtn:pressed {
    -fx-background-color: -fx-panelHighlight;
    -fx-text-fill: -fx-panelBase;
    -fx-font-weight: normal;
}

.sideMenuToggleBtn:selected {
    -fx-background-color: -fx-panelHighlight;
    -fx-text-fill: -fx-panelBase;
    -fx-font-weight: normal;
}

.sideMenuToggleBtn:selected:hover {
    -fx-background-color: -fx-panelHighlight;
    -fx-text-fill: -fx-panelBase;
    -fx-font-weight: bold;
}

