* {
    -fx-txtFillLight: #f5f5f5;
    -fx-txtFillDark: #202020;
    -fx-txtRedBlack: #592D2D;
    -fx-bgBase: #f5f5f5;
    -fx-panelBase: #D13F3F;
    -fx-panelHighlight: #FFBFBF;
    -fx-panelDarkHighlight: #b63939;
    -fx-functionBase: #F5B91D;
    -fx-funcBG: #FAF8EC;
    -fx-healthBase: #5DD677;
    -fx-healthBG: #EDFAEC;
    -fx-oddRowFunc: #d2bc90;
    -fx-oddRowHealth: #97d290;

}

.background {
    -fx-background-color: -fx-bgBase;
}

.panelColorBG {
    -fx-background-color: -fx-panelBase;
}

.transparentBG {
    -fx-background-color: transparent;
}

.panel30Deg {
    -fx-background-color: -fx-panelBase;
    -fx-background-radius: 30;
    -fx-padding: 2;
    -fx-border-radius: 30;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 10, 0, 0, 0);
}

.text-fieldBase {
   -fx-background-color: transparent;
    -fx-border-color: -fx-txtFillLight;
    -fx-border-width: 0 0 2 0;
    -fx-border-radius: 0;
    -fx-text-fill: -fx-txtFillLight;
    -fx-font-size: 14;
    -fx-font-family: "Roboto";
    -fx-prompt-text-fill: derive(-fx-txtFillLight, -10%);
}


.text-fieldBase:hover {
    -fx-background-color: transparent;
    -fx-border-color: -fx-panelHighlight;
    -fx-border-width: 0 0 2 0;
    -fx-border-radius: 0;
    -fx-prompt-text-fill: derive(-fx-txtFillLight, -10%);
}

.panelBtn {
    -fx-background-color: -fx-panelHighlight;
    -fx-background-radius: 30;
    -fx-padding: 10;
    -fx-border-radius: 30;
    -fx-text-fill: -fx-panelBase;
    -fx-font-weight: bold;
    -fx-font-size: 14;
    -fx-wrap-text: true;
    -fx-content-display: center;
    -fx-text-alignment: center;

}

.panelBtn:hover {
    -fx-background-color: derive(-fx-panelHighlight, 40%);
    -fx-background-radius: 30;
    -fx-padding: 10;
    -fx-border-radius: 30;
    -fx-text-fill: -fx-panelBase;
    -fx-font-weight: bold;
    -fx-font-size: 14;
}


.panelBtn:pressed {
    -fx-background-color: -fx-txtFillLight;
    -fx-background-radius: 30;
    -fx-padding: 10;
    -fx-border-radius: 30;
    -fx-text-fill: -fx-panelBase;
    -fx-font-weight: bold;
    -fx-font-size: 14;
}


.panelBtnNoPadding {
    -fx-background-color: -fx-panelHighlight;
    -fx-background-radius: 30;
    -fx-border-radius: 30;
    -fx-text-fill: -fx-panelBase;
    -fx-font-weight: bold;
    -fx-font-size: 14;
    -fx-wrap-text: true;
    -fx-content-display: center;
    -fx-text-alignment: center;

}

.panelBtnNoPadding:hover {
    -fx-background-color: derive(-fx-panelHighlight, 40%);
    -fx-background-radius: 30;
    -fx-border-radius: 30;
    -fx-text-fill: -fx-panelBase;
    -fx-font-weight: bold;
    -fx-font-size: 14;
}


.panelBtnNoPadding:pressed {
    -fx-background-color: -fx-txtFillLight;
    -fx-background-radius: 30;
    -fx-border-radius: 30;
    -fx-text-fill: -fx-panelBase;
    -fx-font-weight: bold;
    -fx-font-size: 14;
}



.panelLbl {
    -fx-text-fill: -fx-txtFillLight;
    -fx-font-size: 14;
    -fx-font-family: "Roboto";
}

.smallPanelLblBold {
    -fx-text-fill: -fx-txtFillLight;
    -fx-font-size: 12;
    -fx-font-family: "Roboto";
    -fx-font-weight: bold;
}


.smallPanelLblNormal {
    -fx-text-fill: -fx-txtFillLight;
    -fx-font-size: 12;
    -fx-font-family: "Roboto";
    -fx-font-weight: normal;
}


.sideMenu {
    -fx-background-color: -fx-panelBase;
}

.sideMenuToggleBtn {
    -fx-background-color: transparent;
    -fx-text-fill: -fx-txtFillLight;
    -fx-font-weight: normal;
    -fx-font-size: 14;
    -fx-font-family: "Roboto";
}

.sideMenuToggleBtn:hover {
    -fx-background-color: derive(-fx-panelBase, 10%);
    -fx-font-weight: bold;
}

.sideMenuToggleBtn:pressed {
    -fx-background-color: -fx-panelHighlight;
    -fx-text-fill: -fx-txtFillLight;
    -fx-font-weight: normal;
}

.sideMenuToggleBtn:selected {
    -fx-background-color: -fx-panelDarkHighlight;
    -fx-text-fill: -fx-txtFillLight;
    -fx-font-weight: normal;
}

.sideMenuToggleBtn:selected:hover {
    -fx-background-color: derive(-fx-panelDarkHighlight, 10%);
    -fx-text-fill: -fx-txtFillLight;
    -fx-font-weight: bold;
}


.searchBtn {
    -fx-background-image: url('../img/filter.png');
    -fx-background-repeat: no-repeat;
    -fx-background-size: 20 20;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-background-radius: 30;
    -fx-text-fill: -fx-panelBase;
    -fx-font-weight: bold;
    -fx-font-size: 14;
}

.searchBtn:hover {
    -fx-background-image: url('../img/filter2.png');
    -fx-background-repeat: no-repeat;
    -fx-background-size: 20 20;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-background-radius: 30;
    -fx-text-fill: -fx-panelBase;
    -fx-font-weight: bold;
    -fx-font-size: 14;
}


.searchBtn:pressed {
    -fx-background-image: url('../img/filter3.png');
    -fx-background-repeat: no-repeat;
    -fx-background-size: 20 20;
    -fx-background-position: center;
    -fx-background-radius: 30;
    -fx-background-color: -fx-txtFillLight;
    -fx-text-fill: -fx-panelBase;
    -fx-font-weight: bold;
    -fx-font-size: 14;
}


.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: -fx-panelHighlight;
    -fx-text-fill: -fx-txtFillDark;
}

.list-cell:even {
    -fx-background-color: transparent;
}

.list-cell:filled:hover {
    -fx-background-color: -fx-panelHighlight;
    -fx-text-fill: -fx-txtFillDark;
    -fx-font-weight: bold;
}

.list-view{
    -fx-background-color: transparent;
    -fx-text-fill: -fx-txtFillLight;
}

.list-cell {
    -fx-control-inner-background: transparent;

}

/* The main scrollbar **track** CSS class  */
.workspace-grid .scroll-bar:horizontal .track,
.workspace-grid .scroll-bar:vertical .track{
    -fx-background-color: -fx-txtFillLight;
    -fx-border-color:transparent;
    -fx-background-radius: 0em;
    -fx-border-radius:2em;
}

/* The increment and decrement button CSS class of scrollbar */
.workspace-grid .scroll-bar:horizontal .increment-button ,
.workspace-grid .scroll-bar:horizontal .decrement-button {
    -fx-background-color: -fx-txtFillLight;
    -fx-background-radius: 0em;
    -fx-padding:0 0 10 0;

}

/* The increment and decrement button CSS class of scrollbar */

.workspace-grid .scroll-bar:vertical .increment-button ,
.workspace-grid .scroll-bar:vertical .decrement-button {

    -fx-background-color: -fx-txtFillLight;
    -fx-background-radius: 0em;
    -fx-padding:0 10 0 0;

}

.workspace-grid .scroll-bar .increment-arrow,
.workspace-grid .scroll-bar .decrement-arrow
{
    -fx-shape: " ";
    -fx-padding:0;
}

/* The main scrollbar **thumb** CSS class which we drag every time (movable) */
.workspace-grid .scroll-bar:horizontal .thumb,
.workspace-grid .scroll-bar:vertical .thumb {
    -fx-background-color: -fx-txtFillLight;
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 2em;
}

.nameLbl {
    -fx-font-size: 14;
    -fx-background-color: -fx-panelHighlight;
    -fx-text-fill: -fx-panelBase;
    -fx-font-weight: bold;
    -fx-padding: 5;
}


.scroll-pane {
    -fx-background-color: transparent;
}

.scroll-pane > .corner {
    -fx-background-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color :transparent;
    -fx-border-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-border-radius :2.0em;
}



.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:transparent;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: -fx-txtFillLight;
    -fx-background-radius: 30em;
}

.scroll-bar:horizontal .increment-button ,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;

}

.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;

}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow{
    -fx-shape : " ";
}

.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-arrow{
    -fx-shape : " ";
    -fx-background-color: transparent;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color : -fx-txtFillLight;
    -fx-background-radius : 2.0em;
}

.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
    -fx-background-color : -fx-txtFillLight;
    -fx-background-radius : 2.0em;
}

.lblBackgroundBold {
    -fx-text-fill: -fx-txtFillDark;
    -fx-font-size: 12;
    -fx-font-family: "Roboto";
    -fx-font-weight: bold;
}

.lblBackgroundRegular {
    -fx-text-fill: -fx-txtFillDark;
    -fx-font-size: 12;
    -fx-font-family: "Roboto";
    -fx-font-weight: normal;
}



.backgroundButton {
    -fx-background-color: -fx-panelBase;
    -fx-background-radius: 30;
    -fx-padding: 10;
    -fx-border-radius: 30;
    -fx-text-fill: -fx-txtFillLight;
    -fx-font-weight: bold;
    -fx-font-size: 14;
    -fx-wrap-text: true;
    -fx-content-display: center;
    -fx-text-alignment: center;

}

.backgroundButton:hover {
    -fx-background-color: derive(-fx-panelHighlight, 40%);
    -fx-background-radius: 30;
    -fx-padding: 10;
    -fx-border-radius: 30;
    -fx-text-fill: -fx-panelBase;
    -fx-font-weight: bold;
    -fx-font-size: 14;
}


.backgroundButton:pressed {
    -fx-background-color: -fx-panelHighlight;
    -fx-background-radius: 30;
    -fx-padding: 10;
    -fx-border-radius: 30;
    -fx-text-fill: -fx-panelBase;
    -fx-font-weight: bold;
    -fx-font-size: 14;
}

.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: -fx-panelHighlight;
    -fx-text-fill: -fx-txtFillDark;
}

.list-cell:even {
    -fx-background-color: transparent;
}

.list-cell:filled:hover {
    -fx-background-color: -fx-panelHighlight;
    -fx-text-fill: -fx-txtFillDark;
    -fx-font-weight: bold;
}

.bg-list-view{
    -fx-background-color: transparent;
    -fx-text-fill: -fx-txtFillLight;
}

.list-cell {
    -fx-control-inner-background: transparent;

}


.accordion > .titled-pane > .title {
    -fx-background-color: -fx-panelBase;
    -fx-text-fill: -fx-txtFillLight;

}

.accordion > .titled-pane > .title:hover {
    -fx-background-color: -fx-panelHighlight;
    -fx-text-fill: -fx-txtFillDark;
}

.accordion > .titled-pane > .title > .text {
    -fx-text-fill: -fx-txtFillLight;
    -fx-fill: -fx-txtFillLight;
    -fx-font-weight: bold;
    -fx-font-size: 14;
    -fx-font-family: "Roboto";
}

.accordion > .titled-pane > .title:hover > .text {
    -fx-text-fill: -fx-txtFillLight;
    -fx-fill: -fx-txtFillDark;
    -fx-font-weight: bold;
    -fx-font-size: 14;
    -fx-font-family: "Roboto";
}

.accordion > .titled-pane > .title:hover > .arrow-button {
    -fx-text-fill: -fx-txtFillLight;
    -fx-fill: -fx-txtFillLight;
    -fx-font-weight: bold;
    -fx-font-size: 14;
    -fx-font-family: "Roboto";
}

.accordion > .titled-pane > .title > .arrow-button {
    -fx-text-fill: -fx-txtFillLight;
    -fx-fill: -fx-txtFillLight;
    -fx-font-weight: bold;
    -fx-font-size: 14;
    -fx-font-family: "Roboto";
    -fx-background-color: null;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-padding: 0.0em 0.25em 0.0em 0.0em; /* 0 3 0 0 */
    -fx-effect: null;
}

.accordion > .titled-pane > .title:hover > .arrow-button > .arrow {
    -fx-text-fill: -fx-txtFillLight;
    -fx-fill: -fx-txtFillLight;
    -fx-font-weight: bold;
    -fx-font-size: 14;
    -fx-font-family: "Roboto";
    -fx-effect: null;

    -fx-background-color: -fx-txtFillDark;
    -fx-background-insets: 1 0 -1 0, 0;
    -fx-padding: 0.25em 0.3125em 0.25em 0.3125em; /* 3 3.75 3 3.75 */
    -fx-shape: "M 0 0 h 7 l -3.5 4 z";
}

.accordion > .titled-pane > .title > .arrow-button > .arrow {
    -fx-text-fill: -fx-txtFillLight;
    -fx-fill: -fx-txtFillLight;
    -fx-font-weight: bold;
    -fx-font-size: 14;
    -fx-font-family: "Roboto";
    -fx-effect: null;

    -fx-background-color: -fx-txtFillLight;
    -fx-background-insets: 1 0 -1 0, 0;
    -fx-padding: 0.25em 0.3125em 0.25em 0.3125em; /* 3 3.75 3 3.75 */
    -fx-shape: "M 0 0 h 7 l -3.5 4 z";
}

.accordion > .titled-pane:collapsed > .title > .arrow-button .arrow {
    -fx-rotate: -90;
}

.vboxBotBorder {
    -fx-border-color: derive(-fx-txtFillDark, 80%);
    -fx-border-width: 0 0 2 0;
    -fx-padding: 5;
}


.vboxPadding {
    -fx-padding: 5;
}


.redGridPaneLeft {
    -fx-background-color: -fx-panelHighlight;
    -fx-padding: 5;
    -fx-background-radius: 20 0 0 20;
}

.healthTable-view {
    -fx-background-color: transparent;
}

.healthTable-view .column-header-background .filler {
    -fx-background-color: -fx-healthBase;
}

.healthTable-view > .placeholder {
    -fx-background-color: transparent;
}

.healthTable-view .column-header .label {
    -fx-font-size: 9pt;
    -fx-text-fill: -fx-txtFillDark;
    -fx-font-weight: bold;
    -fx-font-family: "Roboto";
    -fx-wrap-text: true;
    -fx-content-display: center;
    -fx-text-alignment: center;

}
.healthTable-view .column-header-background {
    -fx-background-color: -fx-healthBase;
    -fx-background-radius: 20 0 20 0;
}


.healthTable-view .corner {
    -fx-background-color: transparent;
}

.healthTable .column-header {
    -fx-background-color: -fx-healthBase;
    -fx-background-radius: 20 0 20 0;
    -fx-border-color: rgba(0,0,0, 0.15);
    -fx-border-width: 0 1 0 0;

}

.healthTable .tree-table-row-cell:odd{
    -fx-background-color: transparent;
    -fx-border-color: -fx-oddRowHealth;
    -fx-border-width: 0 1 0 0;
    -fx-font-size: 10pt;
    -fx-wrap-text: true;
    -fx-content-display: center;
    -fx-text-alignment: center;
}

.healthTable .tree-table-row-cell:even{
    -fx-background-color: transparent;
    -fx-border-color: -fx-oddRowHealth;
    -fx-border-width: 0 1 0 0;
    -fx-font-size: 10pt;
    -fx-wrap-text: true;
    -fx-content-display: center;
    -fx-text-alignment: center;
}

.healthTable .tree-table-row-cell:odd:selected{
    -fx-background-color: -fx-healthBase;
    -fx-font-size: 10pt;
    -fx-wrap-text: true;
    -fx-content-display: center;
    -fx-text-alignment: center;
}

.healthTable .tree-table-row-cell:even:selected{
    -fx-background-color: -fx-healthBase;
    -fx-font-size: 10pt;
    -fx-wrap-text: true;
    -fx-content-display: center;
    -fx-text-alignment: center;
}

.healthTable .tree-table-cell{
    -fx-border-color: transparent;
    -fx-text-fill: -fx-txtFillDark;
    -fx-wrap-text: true;
    -fx-content-display: center;
    -fx-text-alignment: center;
}


.healthTable .tree-table-cell:selected{
    -fx-border-color: -fx-txtFillDark;
    -fx-text-fill: -fx-txtFillDark;
    -fx-wrap-text: true;
    -fx-content-display: center;
    -fx-text-alignment: center;
}

.table-row-cell:odd{
    -fx-background-color: transparent;
    -fx-font-size: 10pt;
    -fx-wrap-text: true;
    -fx-content-display: center;
}
.table-row-cell:even{
    -fx-background-color: transparent;
    -fx-font-size: 10pt;
    -fx-wrap-text: true;
    -fx-content-display: center;
}

.table-row-cell:empty {
    -fx-background-color: transparent;
    -fx-wrap-text: true;
    -fx-content-display: center;
}


.funcTable-view {
    -fx-background-color: transparent;
}

.funcTable-view > .placeholder {
    -fx-background-color: transparent;
}

.funcTable-view .column-header-background .filler {
    -fx-background-color: -fx-functionBase;

}

.funcTable-view .column-header .label {
    -fx-font-size: 9pt;
    -fx-text-fill: -fx-txtFillDark;
    -fx-font-weight: bold;
    -fx-font-family: "Roboto";
    -fx-wrap-text: true;
    -fx-content-display: center;
    -fx-text-alignment: center;

}

.funcTable-view .column-header-background {
    -fx-background-color: -fx-functionBase;
    -fx-background-radius: 20 0 20 0;

}

.funcTable-view .corner {
    -fx-background-color: transparent;
}

.funcTable .column-header {
    -fx-background-color: -fx-functionBase;
    -fx-background-radius: 20 0 20 0;
    -fx-border-color: rgba(0,0,0, 0.15);
    -fx-border-width: 0 1 0 0;
}


.funcTable .tree-table-row-cell:odd{
    -fx-background-color: transparent;
    -fx-border-color: -fx-oddRowFunc;
    -fx-border-width: 0 1 0 0;
    -fx-font-size: 10pt;
    -fx-wrap-text: true;
    -fx-content-display: center;
    -fx-text-alignment: center;
}

.funcTable .tree-table-row-cell:even{
    -fx-background-color: transparent;
    -fx-border-color: -fx-oddRowFunc;
    -fx-border-width: 0 1 0 0;
    -fx-font-size: 10pt;
    -fx-wrap-text: true;
    -fx-content-display: center;
    -fx-text-alignment: center;
}

.funcTable .tree-table-row-cell:odd:selected{
    -fx-background-color: -fx-functionBase;
    -fx-font-size: 10pt;
    -fx-wrap-text: true;
    -fx-content-display: center;
    -fx-text-alignment: center;
}

.funcTable .tree-table-row-cell:even:selected{
    -fx-background-color: -fx-functionBase;
    -fx-font-size: 10pt;
    -fx-wrap-text: true;
    -fx-content-display: center;
    -fx-text-alignment: center;
}

.funcTable .tree-table-cell{
    -fx-border-color: transparent;
    -fx-text-fill: -fx-txtFillDark;
    -fx-wrap-text: true;
    -fx-content-display: center;
    -fx-text-alignment: center;
}

.funcTable .tree-table-cell:selected{
    -fx-border-color: -fx-txtFillDark;
    -fx-border-width: 0 1 0 0;
    -fx-text-fill: -fx-txtFillDark;
    -fx-wrap-text: true;
    -fx-content-display: center;
    -fx-text-alignment: center;
}



.onOfftoggleBtn {
    -fx-background-color: -fx-panelHighlight;
    -fx-background-radius: 30;
    -fx-text-fill: -fx-panelBase;
    -fx-font-weight: normal;
    -fx-font-size: 14;
    -fx-font-family: "Roboto";
}

.onOfftoggleBtn:hover {
    -fx-background-color: derive(-fx-panelBase, 10%);
    -fx-font-weight: bold;
    -fx-text-fill: -fx-txtFillLight;
}

.onOfftoggleBtn:pressed {
    -fx-background-color: -fx-panelHighlight;
    -fx-text-fill: -fx-panelBase;
    -fx-font-weight: normal;
}

.onOfftoggleBtn:selected {
    -fx-background-color: -fx-panelDarkHighlight;
    -fx-text-fill: -fx-txtFillLight;
    -fx-font-weight: normal;
}

.onOfftoggleBtn:selected:hover {
    -fx-background-color: derive(-fx-panelDarkHighlight, 10%);
    -fx-text-fill: -fx-txtFillLight;
    -fx-font-weight: bold;
}
