.table-view{
    -fx-background-color: transparent;
    -fx-base: -fx-panelBase;
    -fx-control-inner-background: transparent;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;

    -fx-padding: 5;
}

.table-view:focused{

    -fx-background-color: transparent;
}

.table-view .column-header-background {

    -fx-background-color: transparent;
}

.table-view .column-header-background .filler {

    -fx-background-color: transparent;
}


.table-view .column-header .label {

    -fx-text-fill: -fx-txtBase;
    -fx-background-color: transparent;
    -fx-font-size: 14;
    -fx-font-family: "Roboto Medium"
}
.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-content-display: center;
    -fx-alignment: center;
    -fx-text-fill: -fx-txtBase;
    -fx-table-cell-border-color: transparent;
    -fx-font-family: Roboto;
}

.table-row-cell{
    -fx-content-display: center;
    -fx-background-color: transparent;
    -fx-background-insets: 0, 1 0 1 0;
    -fx-padding: 0.0em; /* 0 */
    -fx-table-cell-border-color: transparent;
    -fx-border-color: -fx-txtBaseHover;
    -fx-border-width: 1 0 1 0;
    -fx-pref-height: 30;
    -fx-font-family: Roboto;
}

.table-row-cell:odd{
    -fx-content-display: center;
    -fx-background-color: transparent;
    -fx-background-insets: 0, 1 0 1 0;
    -fx-padding: 0.0em; /* 0 */
    -fx-border-color: -fx-borderBase;
    -fx-border-width: 1 0 1 0;
    -fx-table-cell-border-color: transparent;
    -fx-font-family: Roboto;
}

.table-row-cell:selected {
    -fx-content-display: center;
    -fx-background-color: -fx-bgBase;
    -fx-border-color: -fx-accent1;
    -fx-focus-color: -fx-accent1;
    -fx-background-insets: 0 0 0 0;
    -fx-background-radius: 1;
}

.table-view:focused .table-row-cell:focused {
    -fx-content-display: center;
    -fx-background-color: -fx-accent1;
    -fx-background-insets: 0 0 0 0;
    -fx-table-cell-border-color: transparent;
}

table-view:focused .table-row-cell:filled:focused:selected {
    -fx-content-display: center;
    -fx-background-color: -fx-accent1;
    -fx-background-insets: 0 0 0 0;
    -fx-table-cell-border-color: transparent;
}